<html>
<head>
    <title>Attendance Records</title>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">

</head>
<body>
{% include 'header.html'%}
<div class="admin">

<h1>Records</h1>
<form action="/clear"><button class="btn-submit" type="submit">Clear database</button></form>

<table>
    {% for record in records %}
    <tr>
        <td>
            {{record.email}}
        </td>
        <td>
            {{record.date_time}}
        </td>
    </tr>
    {% endfor %}
</table>
</div>
</body>
</html>
